.forecast-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.main-container {
  display: flex;
  justify-content: center;
}

.forecast-container {
  margin: 0 16px 0 0;
}

.input-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.input-description {
  margin: 0 0 12px 0;
  border-radius: 3px;
  padding: 8px;
  background: #f0f0f0;
}

.min-input-container,
.max-input-container {
  display: flex;
  justify-content: space-between;
}

.min-input-container {
  margin: 0 0 3px;
}

.temp-input {
  width: 60px;
  height: 16px;
}

.forecast-container-title {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.temp-info {
  display: flex;
  justify-content: space-between;
}
