.forecast-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0;
}

.main-container {
  display: flex;
  justify-content: center;
}

.forecast-container {
  margin: 0 8px 0 0;
  width: 105px;
  background: #3f5f7a;
  color: #fff;
  border-radius: 3px;
  padding: 8px;
}

.input-container {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.input-description {
  margin: 0 0 8px 0;
  border-radius: 3px;
  padding: 8px;
  background: #f0f0f0;
}

.min-input-container,
.max-input-container {
  display: flex;
  justify-content: space-between;
}

.min-input-container {
  margin: 0 0 3px;
}

.temp-input {
  width: 60px;
  height: 16px;
}

.forecast-container-title {
  font-weight: bold;
  margin: 0 0 4px 0;
}

.temp-info {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 420px) {
  .input-container {
    width: 300px;
  }

  .temp-input {
    width: 80px;
  }
}
